<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>El Viejo Manzano - Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>El Viejo Manzano 🍎</h1>

    <div class="contenedor d-flex flex-column justify-content-center align-items-center text-center">
        <div class="texto">
            <h2>Plantas como elemento de bienestar:</h2>
        <em> <p>Descubre la belleza de las plantas de interior en nuestra tienda online. Creá un ambiente
                acogedor y único para tu espacio.</p></em>
        </div>
    </div>

    <nav>
<ul>
    <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
    <li><a href="/realtimecarts">Carritos en tiempo real</a></li>
</ul>
</nav> 


</body>
</html>
